body {
  margin: 0px;
  overflow: hidden;
}

.sphere {
  fill: black;
}

.country {
  fill: goldenrod;
  stroke: black;
  stroke-opacity: 0.1;
}

svg {
  width: 960px;
  height: 500px;
}

circle {
  fill: white;
	stroke: black;
  stroke-width: .5;
}

